@charaset "UTF-8";

pre{
	font-size : 20px;
	background : lightblue;
	padding : 20px;
	margin : 20px;
	border-top : 3px dotted blue;
	border-bottom : 3px dotted blue;
	border-left : 10px solid red;	
}
.box{
	margin : 10px;
	padding : 20px;
	background : #dfcfff;
	height : auto;
}
.box button, .box input[type = button]{
	background : blue;
	color : white;
	font-weight : bold;
	padding : 5px;
	border-radius : 30px;
	width : 100px;
}
.box div{
	border : 2px dashed orange;
	padding : 10px;
	height : auto;
	margin-top : 10px;	
}